div {
    margin-left: 20px;
    height:200px;
    width:200px;
    border-style: dotted;
    padding: 60px;


}

.butt {
    margin-left: 20px;
    height:20px;
    width:20px;
    border-style: dotted;
    padding: 60px;
    background: red;
}